@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque|Russo+One&display=swap");


h2, p {
  font-family: 'Russo One', sans-serif;
}

.dropdownText{
  font-size: 15px;
}

/* .App {
  text-align: center;
} */

/* .cardContent{
  width: 1000px;
  background: #FFFFFF;
  box-shadow: 1rem 1rem 5rem rgba(30, 49, 78, 0.14);
  margin: 3rem auto;
  padding: 3rem 2rem;
  min-height: 16.5rem;
} */
/* .mainHeader{
  margin-top: 5rem;
} */

/* .text {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
} */

/* .button {
  width: 9rem;
  background: #FFFFFF;
  box-shadow: 1rem 1rem 5rem rgba(30, 49, 78, 0.14);
  padding: 1rem;
  font-family: 'Russo One', sans-serif;
  font-size: 0.7rem;
  margin-left: 1rem;
} */
